h1 {
  /* background-color: linear-gradient(45deg,#4e734d 45%,#ecc187 50%, #770505 55%); */
  background-image: linear-gradient(45deg, var(--bs-primary) 25%, #ecc187 50%, #770505 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-contents {
  text-align: justify;
}
@media (max-width: 991.98px) {
  div.quarto-about-trestles .about-entity .about-links {
    width: 100%;
    padding-bottom: 1.5em;
    column-gap: 0.5em;
    flex-direction: row;
    font-size: 0.85em;
  }
  div#quarto-content {
    padding-top: 12px;
  }
}
.usa {
  background-image: url('../../about/usapop.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 2em;
  font-size: 4em;
  background-position: center;
}
