/* header#title-block-header {
  background-image: url('../img/Leonhard_Euler_2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
} */
.quarto-title img.euler {
  float: right;
  height: 160px;
}
@media (min-width: 908.5px) {
  .quarto-title img.euler {
    float: right;
    height: 200px;
  }
}
/*-- Listing --*/
.quarto-listing-cols-3 {
  grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
  gap: 5px;
}
.card-body.post-contents {
  padding-bottom: 4px;
}
div.card-footer:has(div.card-file-modified) {
  height: 0;
  padding: 0;
  border: 0;
} 